.issue-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #f5f5f5; /* Fondo más claro */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  margin-top: 20px;
}

.search-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
  background-color: #ffffff; /* Fondo blanco */
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.search-field {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 150px;
}

.search-input,
.search-select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 5px;
  transition: border-color 0.3s;
}

.search-input:focus,
.search-select:focus {
  border-color: #007bff; /* Color de borde en foco */
}

.search-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.search-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tag-search{
  margin: 3px;
}

.search-button:hover {
  background-color: #0056b3;
}

/* Use CSS Grid for responsive issue columns */
.issue-columns {
  display: grid;
  grid-template-columns: repeat(1, minmax(300px, 1fr)); /* Ajustar columnas automáticamente */
  gap: 20px;
  width: 100%;
}

@media (min-width: 1440px) {
  .issue-list-container {
    max-width: 1200px; /* Adjust this value as needed */
    margin: 0 auto; /* Centrar el contenedor horizontalmente */
    margin-top: 20px;

  }
}

.issue-column {
  display: flex;
}

/* Pagination styling */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  padding: 5px 10px;
  margin: 0 5px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: default;
}

.pagination span {
  margin: 0 10px;
  font-weight: bold;
}

.no-issues-message {
  background-color: #d1ecf1;
  color: #0c5460;
  border: 1px solid #bee5eb;
}