.issue-container {
  position: relative;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  font-family: Arial, sans-serif;
}

.issue-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.issue-title {
  font-size: 1.5em;
  color: #333;
  margin: 0;
}

.issue-status {
  padding: 6px 12px;
  border-radius: 4px;
  font-weight: bold;
  text-transform: capitalize;
}

.status-0 {
  background-color: green;
  color: #fff;
}

.status-1 {
  background-color: red;
  color: #fff;
}

.status-2 {
  background-color: gray;
  color: #fff;
}

.issue-link-container {
  margin-top: 8px;
  margin-bottom: 12px;
}

.issue-link {
  display: inline-block;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.issue-link:hover {
  background-color: #0056b3;
}

.issue-tags {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag {
  background-color: #e0e0e0;
  color: #333;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.9em;
  transition: background-color 0.3s, color 0.3s;
}

.tag:hover {
  background-color: #c0c0c0;
  color: #000;
}

.issue-details {
  margin-top: 12px;
}

.issue-description {
  margin-top: 12px;
}

.issue-description label {
  display: block;
  margin-bottom: 4px;
  color: #444;
}

.issue-description-input {
  width: 100%;
  max-width: calc(100% - 1%);
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
  resize: none;
}

.submit-button {
  margin-top: 8px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #0056b3;
}

.switch-container {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 20px;
  margin-top: 2px;
}

.switch-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 20px;
  transition: .4s;
}

.switch-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: .4s;
}

.switch-checkbox:checked + .switch-slider {
  background-color: #2196F3;
}

.switch-checkbox:checked + .switch-slider:before {
  transform: translateX(20px);
}

.switch-text {
  margin-left: 10px;
  vertical-align: middle;
}

.issue-action {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 2px;
}
