.issue-container {
  position: relative;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: box-shadow 0.3s;
  margin-bottom: 16px;
}

.issue-container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.issue-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.issue-title {
  font-size: 1.75em;
  color: #333;
  margin: 0;
  font-weight: 600;
}

.issue-status {
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: bold;
  text-transform: capitalize;
}

.status-0 {
  background-color: #28a745;
  color: #fff;
}

.status-1 {
  background-color: #dc3545;
  color: #fff;
}

.status-2 {
  background-color: #6c757d;
  color: #fff;
}

.issue-link {
  text-decoration: none;
}

.issue-content {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 16px;
}

.issue-details {
  flex: 1;
}

.issue-repo,
.issue-created,
.issue-closed {
  margin-bottom: 8px;
  color: #555;
}

.issue-labels {
  margin-top: 12px;
}

.issue-labels ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.label {
  background-color: #e0e0e0;
  color: #333;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 0.9em;
  transition: background-color 0.3s, color 0.3s;
}

.label:hover {
  background-color: #c0c0c0;
  color: #000;
}

.issue-tags {
  flex-wrap: wrap;
  margin-top: 12px;
  margin-right: 30px;

}

.issue-tags-grid {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag {
  background-color: #e0e0e0;
  color: #333;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 0.9em;
  display: inline-block;
  transition: background-color 0.3s, color 0.3s;
  text-align: center; /* Centra el texto horizontalmente */
}


.tag:hover {
  background-color: #c0c0c0;
  color: #000;
}

.tag-button {
  padding: 12px 24px; /* Ajusta el relleno para cambiar el tamaño del botón */
  font-size: 16px;    /* Ajusta el tamaño de la fuente */
  height: 48px;       /* Ajusta la altura del botón */
  width: auto;        /* Ajusta el ancho del botón (puedes usar un valor fijo si lo prefieres) */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px; /* Cambia el radio de borde si quieres un estilo más redondeado */
  cursor: pointer;
  transition: background-color 0.3s;
}


.tag-button:hover {
  background-color: #0056b3;
}

.issue-description {
  margin-top: 24px;
  margin-right: 30px;

}

.issue-description label {
  display: block;
  margin-bottom: 8px;
  color: #444;
  font-weight: 500;

}

.issue-description-input {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1em;
  padding: 12px;
  margin-top: 4px;
  margin-right: 10px;
  resize: none;
}

.issue-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
}

.switch-container {
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 25px;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(25px);
}

.switch-text {
  margin-left: 12px;
  font-size: 1em;
  color: #555;
}

.submit-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1em;
}

.submit-button:hover {
  background-color: #0056b3;
}

.expand-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 12px;
}

.expand-button:hover {
  background-color: #0056b3;
}
