.popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    opacity: 0.9;
    transition: opacity 0.5s ease-in-out;
    z-index: 9999; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);

  }
  .popup.visible {
    opacity: 0.9; /* Opacidad cuando es visible */
  }
  
  .popup.hidden {
    opacity: 0; /* Opacidad cuando está oculto */
  }
  
  .popup.success {
    background-color: green;
  }
  
  .popup.error {
    background-color: red;
  }
  